<b><h1> Log in here!</h1> </b>

<%= form_for :customer do |f|%>
    <%= f.label "Username:" %>
    <%= f.text_field :username %> 
    <br>
    <br>
    <%= f.label "Password:" %>
    <%= f.password_field :password %>
    <br>
    <%= f.submit "Login" %>
<% end %>
<br>
<h3>Or use Google!<h3>

<%= button_to "Google", '/auth/google_oauth2' %>