<h1> Edit Appointment </h1> 

<%= @customer.username %>
<%= form_for @customer do |f|%>
<% if @customer.errors.any? %>
<div id="error_explanation">
   <h2>Please try again:</h2>
   <ul>
      <% @customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
    <% end %>
     </ul>
    </div>
    <% end %>

    
    <%= f.label "Username:" %>
    <%= f.text_field :username %>
    <%= f.label "Password:" %>
    <%= f.password_field :password %>
