<% if @appointment.errors.any? %>
  <div id="error_explanation">
     <h2>Please review & try again:</h2>
     <ul>
   <% @appointment.errors.full_messages.each do |message| %>
      <li><%= message %></li>
   <% end %>
    </ul>
    </div>
<% end %>

<h2> <i>Appointment </h2>
<br>
<%= form_for @appointment do |f|%>
    <%= f.label "Pick a date" %>
    <%= f.datetime_field :date %>
    <br>
    <br>
    <%= f.label "What kind of coffee would you like?" %>
    <%= f.text_field :coffee %>
    <br>
    <br>
    <h4> Choose your kitty companion below</h4>
    <br>
    <%= f.collection_select :cat_id, Cat.all, :id, :name, :prompt => "Our furry friends" %>
    <br>
    <br>
    <h3> You can also give a kitten a special nickname for your visit! </h3>
    <br>
    <%= f.fields_for :cat, @appointment.cat do |c| %>
    <%= c.label "Nickname" %>
    <%= c.text_field :name %>
    <br>
    <%= c.label "With mittens?" %>
    <%= c.check_box :mittens %>
    <br>
    <% end %>
<br>
    <%= f.submit "submit" %>
<%end%>