
<h1> Appointment Maker </h1>

<%= form_for @appointment do |f|%>
<%= render "appointments/form" %>
    <div>
    <%= f.label "Date" %>
    <%= f.datetime_local_field :date %>
    </div>
    <div>
    <%= f.label "What kind of coffee would you like?" %>
    <%= f.text_field :coffee %>
    </div>
    <p> Choose your kitty companion below</p>
    <div>
    <%= f.collection_select :cat_id, Cat.all, :id, :name, :prompt => "Our furry friends" %>
    </div>
    <p> You can also give a kitten a special nickname for your visit! </p>
    <%= f.fields_for :cat, @appointment.cat do |c| %>
    <%= c.label "Nickname" %>
    <%= c.text_field :name %>
    <%= c.label "With mittens?" %>
    <%= c.check_box :mittens %>
    <% end %>
    </div>
<br>
    <%= f.submit "create appointment" %>
<%end%>