<!DOCTYPE html>
<html>
  <head>
    <title>CatCafe</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <div>
  <br>

    <% if session[:user_id] %>

      <%=  link_to "Log Out", logout_path, method: :delete %> 
      
      <%= link_to "Your Account", customer_path(session[:user_id]) %>
       
      <%= link_to "Make appointment", new_customer_appointment_path(session[:user_id]) %>

    <% else %>

    <%= link_to "Home Page", '/' %>
    
      <% end %>
  </div>


  <body>
    <%= yield %>

    <%= render 'layouts/footer' %>
    
  </body>
</html>
